<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Devices</title>
    <link rel="icon" type="image/png" href="../img/icon.png">
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css"/>
    <script type="text/javascript" th:src="@{/js/devices.js}"
            src="../static/js/devices.js"></script>
</head>
<body>
    <div class="main-container">
        <table id="table" class="message-table"></table>
    </div>
    <div class="button-container">
        <input name="messages" type="button" value="Messages" onclick="window.location='/messages';"/>
        <form action="/logout" method="post">
            <button class="button">Logout</button>
        </form>
    </div>
</body>
</html>