<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>
    <link rel="icon" type="image/png" href="../img/icon.png">
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"
          href="../static/css/login.css"/>
    <script type="text/javascript" th:src="@{/js/login.js}"
            src="../static/js/login.js"></script>
</head>
<body>
    <div class="main-container">
        <form method="post" action="/login">
            <h2>Login</h2>
            <table>
                <tr>
                    <td><input class="column" name="username" id="username"
                               placeholder="Enter your Username" value="login"/></td>
                </tr>
                <tr>
                    <td><input type="password" class="column" name="password" id="password"
                               placeholder="Enter your Password" value="pass"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input name="submit" type="submit" value="login" id="submit"/>
                        <input name="registration" type="button" value="registration" id="registration"
                               onclick="window.location='/registration';"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>