<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>
    <link rel="icon" type="image/png" href="../img/icon.png">
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"
          href="../static/css/login.css"/>
    <script type="text/javascript" th:src="@{/js/login.js}"
            src="../static/js/login.js"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"
            src="../static/js/util.js"></script>
</head>
<body>
    <div class="main-container">
        <div id="reg-text-result" class="text-result"></div>
        <div>
            <label for="username">Username:</label><input id="username" class="column" name="username" value="login"><br/>
            <label for="password">Password:</label><input id="password" class="column" name="password" value="pass"><br/>
            <button id="login-button">Login</button>
        </div>
    </div>
</body>
</html>