<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
    <link rel="icon" type="image/png" href="../img/icon.png">
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"
          href="../static/css/login.css"/>
    <script type="text/javascript" th:src="@{/js/reg.js}"
            src="../static/js/reg.js"></script>
</head>
<body>
    <div class="main-container">
        <h2>Registration</h2>
        <table>
            <tr>
                <td>
                    <input class="column" name="name" id="name" placeholder="Enter your real Name"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="column" name="surname" id="surname" placeholder="Enter your Surname"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="column" name="username" id="username" placeholder="Enter your Username" value="login"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" class="column" name="password" id="password"
                           placeholder="Enter your Password" value="pass"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input name="registration" type="submit" value="registration" id="regbutton"/>
                    <input name="login" type="button" value="login" onclick="window.location='/login';"/>
                </td>
            </tr>
        </table>
    </div>
    <div id="reg-text-result" class="text-result"></div>
</body>
</html>